/* CSS 색감 참고 */

/* https://www.w3schools.com/w3css/tryit.asp?filename=tryw3css_templates_social&stacked=h */

/* CSS 초기화 */

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
div,
span {
	margin: 0px;
	padding: 0px;
}

input:focus{
	
	outline: none;
	border: 3px solid;
	border-color: #7b69ee
	
}

a {
	color: black;
	text-decoration: none;
	outline: none;
}

a:hover {
	color: inherit;
}

html {
	min-height: 100vh;
	margin: 0;
}

main {
    margin-top: 0.3rem;
}

main .col {
	padding: 1rem;
}

body {
    position: relative;
    padding-bottom: 104.8px;
    min-height: 100%;
}

html,
body {
    font-family: 'Nanum Gothic', sans-serif;
    background-color: rgb(240, 240, 240);
}

/* 화면 Fade-in 효과 */
body {
	animation: fadeIn 0.2s ease-in;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

/* 푸터 */
footer {
	position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 2rem 0;
    text-align: center;
    background-color: #495057;
    color: #adb5bd;
    font-size: 12px;
}

/* input-number 화살표 지우기 */
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* 로고 바*/
.weather_position {
    margin-top: 3vw;
}

#weather {
    font-size: 1.5vw;
}

.logo_img {
    width: 100%;
    min-width: 180px;
    margin-top: 1vw;
    margin-bottom: 0.5vw;
}

#log_out {
    margin-bottom: 6.5vh;
    font-size: 1.8vh;
    font-weight: 600;
    padding: 1vh 3vw 0 0.3vw;
}

#log_out p {
	color: #888;
	&:hover{
		color: #f9f9f9;
	}
}

/* 네비게이션 바 */
header {
	background-color: #ffeb60;
}

// 메뉴 드롭다운
.menuList {
	position: relative;
	font-weight: bold;
	box-sizing: border-box;
	z-index: 20;
	text-align: center;
	&:hover{
		a{
			opacity: 1;
			display: block;
		}
	}
}
.customMenu {
	width: 12vw;
    min-width: 50px;
    height: 30px;
    background-color: #e9d460;
    margin: 0;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    box-sizing: border-box;
}
.menu {
    position: relative;
}
.logOut {
	opacity: 0;
	display: none;
    position: absolute;
    transition: all 0.3s ease;
    z-index: 19;
	top: 90px;
	&:hover {
		box-shadow: 1px 2px 3px grey;
		background-color: #7b69ee;
		border-color: black;
	}
}
.loading {
	display: none;
	opacity: 0;
	position: absolute;
	transition: all 0.3s ease;
	z-index: 18;
	top: 60px;
	&:hover {
		box-shadow: 1px 2px 3px grey;
		background-color: #7b69ee;
		color: #f9f9f9;
		border-color: black;
	}
}

.profile {
	display: none;
	opacity: 0;
	position: absolute;
	transition: all 0.3s ease;
	z-index: 17;
	top: 30px;
	&:hover {
		box-shadow: 1px 2px 3px grey;
		background-color: #7b69ee;
		color: #f9f9f9;
		border-color: black;
	}
}

@keyframes moveLogOut {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.route-list {
	/* background-color: lightslategrey; */
    color: black;
    border-radius: 10px;
    border: 0px solid #927da6;
    padding: 1vw 1vw;
    margin-bottom: 10px;
    display: inline-block;
    cursor: pointer;
    font-weight: 500;
    white-space: nowrap;
    font-size: 1vw;
}

.route-list-activate {
	/* background-color: lightgreen; */
	background-color: #7b69ee;
	color: #eee;
	font-weight: 700;
}

.route-img {
	width: 20%;
	min-width: 20px;
}

/* 메인 콘텐츠 */
.contents {
	background-color: white;
	padding-top: 1rem;
	padding-bottom: 1rem;
}

/* 로그인, 회원가입 페이지 */
.login-contents {
    position: absolute;
    top: 25%;
    right: 50%;
    transform: translate(50%, 0);
    background-color: white;
    max-width: 400px;
    min-width: 330px;
    margin: auto;
    padding-bottom: 2.5vh;
    border-radius: 30px;
}
.signup-contents {
    position: absolute;
    top: 18%;
    right: 50%;
    transform: translate(50%, 0);
    background-color: white;
    max-width: 400px;
    min-width: 330px;
    margin: auto;
    padding-bottom: 2.5vh;
    border-radius: 30px;
}
.login-input {
    padding: 1vh 5px;
    margin: 0.3vh 0px;
    width: 85%;
    max-width: 400px;
    font-size: 2vh;
    border: 1px solid black;
    border-radius: 10px;
}
.login-input:focus {
    outline: none;
    border: 1px solid black;
    border-bottom: 3px solid #414345;
    border-radius: 10px;
}
.login-btn {
    margin: 0.15rem 0px;
    width: 85%;
    max-width: 400px;
    font-size: 2vh;
    font-weight: 600;
    border-radius: 10px;
}

/* 내 정보 page */
.custom-table {
	width: 70%;
	min-width: 300px;
	margin: 0 auto;
	font-size: 1.3vw;

	.left-td {
		width: 30%;
		min-width: 110px;
		background-color: #FFFADE;
		padding: 17px 10px;
	}
	.right-td {
		padding: auto 15px;
		.login-input {
			border: 1.5px solid #B4A7B7;
			&:focus {
				border: 2px solid #B4A7B7;
			}
		}
	}
}

/* 원격 제어 page*/
.card_round {
    width: 90%;
    border-radius: 25%;
    border: 1px solid black;
	margin: auto;
}

.card_name {
	text-align: center;
	border: none;
	background: transparent;
	margin: 1rem 0;
}

.card-img-remote {
	width: 60%;
	margin: 0 auto;
	margin-top: 2rem;
	margin-bottom: 1rem;
}

.img-pointer {
	cursor: pointer;
}

.card_setting {
	position: absolute;
	top: 8%;
	right: 8%;
	cursor: pointer;
}

.card_plus {
	text-align: center;
	height: 100%;
	border: none;
}

.card_plus_image {
	padding: 3rem 2rem;
}

.card-img-top {
	width: 70%;
	margin: 15px auto;
	margin-bottom: 10px;
}

.img-pointer {
	cursor: pointer;
}

.card-img-plus {
	position: absolute;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 60%;
}

/* 전력 확인 page */
.card-check-title {
	margin-top: 10px;
	font-weight: bold;
}

.btn-secondary{
	background-color: #7b69ee;

	&:hover{
		background-color: hsla(248, 53%, 51%, 0.596);
	}

}
.card-check {
	border-radius: 5%;
	border: 3px solid gray;
	height: 100%;
	margin-bottom: 10px;
}

/* 전력거래소 page */
.contents-header {
	padding: 10px;
}

.content-row {
	border-bottom: 2px solid gray;
	padding-bottom: 5px;
	padding: 0.5rem;
}

/* 실시간 거래 확인 page */
.progress_style {
    height: 50px;
}

.time_text {
    font-size: 20px;
}

/* 판매글 작성 page, 내용 page */
.form-container {
	width: 100%;
	max-width: 800px;
	margin: 0 auto;
}

#main_body, #main_html {
	background-color: #2b2c2d;
}

.modal-header {
	display: flex;
	align-items: center;
	position: relative;
}

.p-3 {
	overflow: hidden;
}

.description {
	text-align: center;
}


.request_container {
	width: 410px;
	display: flex;
	flex-direction: column;

	input {
		text-align: center;
		margin-bottom: 25px;
	}
}

.deviceModal {
	form {
		input {
			color: black;
		}
	}
}
.deviceDelete {
	border: 1px solid;
	background: none;
	border-color: black;
	color: black;
	opacity: 0.8;

	transition: all 0.2s ease;
	font-weight: 400;
	font-size: 15px;
	padding: 7px 13px;
	border-radius: 10%;
	&:hover {
		background-color: #7b69ee;
		color: white;
	}
}
.request_containerM {
	input {
		width: 410px;
	}
}
.modal-body{
	margin: 0;
}
#deleteForm{
	position: absolute;
	bottom: 8%;
	left: 56%;
}
.modal-content{
	position: relative;
}

/* deal -content*/
#deletingForm{
	margin-top: 10px;
	width: 100%;
	display: flex;
	justify-content: center;

	button{
		
		width: 36vw;
	}
}
.btn_custom{
	background-color: #7b69ee;
	&:hover{
		background-color: hsla(248, 53%, 51%, 0.596);

	}
}
#deal-contents{
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: column;
}
.deal-contents-container{
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	align-items: center;
	max-width: 400px;
	.btn-danger{
		width: 36vw;
	}

	

	.form-group{
		.clientView,input{
			max-width: 30rem;
			flex-shrink: 0;
			width: 25vw;
			text-align: center;
			color: grey;
			&:focus{
				color: black;
			}
		}
		textarea{
			max-width: 400px;
		
			width: 25vw;
			text-align: center;
			height: 200px;
			color: grey;
			border-radius: 10%;
			&:focus{
				outline: none;
				border: 3px solid;
				color: black;
				border-color: #7b69ee
			}

		}
		width: 100%;
		display: flex;
		justify-content: space-between;
		margin-bottom: 30px;
		
		&:nth-child(3){
			align-items: center;
		}
		&:nth-child(2){
			div{
				max-width: 400px;
				
				width: 300px;
				display: flex;
				justify-content: center;
			}
		}
		
	}

}