extends ./layout/template_main


block content2

    br
    .container.contents
        // Contents Header
        .row.contents-header
            h3 판매글 작성하기
        hr
        // Contents List
        .row
            .form-container
                form(action=`/main/transaction${routes.write}`, method="post")
                    .form-group.row
                    label.col-sm-2.col-form-label(for='transaction_amount') 제목
                    .col-sm-10
                        input.form-control(type='text' min='1' name = 'title')
                    br
                    .form-group.row
                    label.col-sm-2.col-form-label(for='transaction_amount') 판매량 (wh)
                    .col-sm-10
                        input#transaction_amount.form-control(type='number' min='1' name = 'amount')
                    br
                    .form-group.row
                    label.col-sm-2.col-form-label(for='transaction_amount') 예상 가격
                    .col-sm-10
                        input#transaction_price.form-control(name='price' readonly)
                    br
                    .form-group.row
                    label.col-sm-2.col-form-label(for='transaction_description') 내용
                    .col-sm-10
                        textarea#transaction_description.form-control(rows='10' name='description')
                    br
                    .text-center
                    .articleButtonContainer
                        button.btn.btn-secondary.makeArticle(onclick='addDeal()' type='submit') &#xC791;&#xC131;&#xD558;&#xAE30;
    
    script.
        const target = document.getElementById('transaction_price');

        const amount = document.getElementById('transaction_amount');

        const priceUpdate = e =>{
            const current = e.target.value;

            let currentString = `${current*0.108}`;
         
            let cnt =0
            target.value = currentString + '원';
        }
        amount.addEventListener('input' , priceUpdate)

        

