extends layout/template_main


block content2
    main
        .container.contents
            .row.contents-header
                h3 전력 확인
            
            .list-group
                a.list-group-item.list-group-item-action(href="")
                    .d-flex.w-100.justify-content-between
                        h5
                            img(src="/assets/images/elec.jpg" width="200px")
                        p 전기 충전량
                
                a.list-group-item.list-group-item-action()
                    .d-flex.w-100.justify-content-between
                        h5
                            img(src="/assets//images/elec.jpg" width="200px")
                        p 총 전력 사용량
                
                a.list-group-item.list-group-item-action()
                    .d-flex.w-100.justify-content-between
                        h5
                            img(src="/assets//images/elec.jpg" width="200px")
                        p 배터리 전력량