extends layout/template_main


block content2
    main
        br
        .container.contents
            // Contents Header
            .row.contents-header
                h3 전력 확인
            hr
            // Contents List
            #check-list.row.row-cols-2.row-cols-md-4.g-4(style='background-color: white;')
                .col
                    .card.card-check
                        .card-title.text-center.py-0
                            .check-header
                                h5.card-title 실시간 에너지 소비량 
                                h7.unit (mA/s)
                            img.card-img-top(src='/assets/images/thunder.jpg')
                            h5.card_name= resultObj.eUsage
                .col
                    .card.card-check
                        .card-title.text-center.py-0
                            .check-header
                                h5.card-title 에너지 충전량 
                                h7.unit (mA/s)
                            img.card-img-top(src='/assets/images/thunder.jpg')
                            h5.card_name= resultObj.eSupply
                .col
                    .card.card-check
                        .card-title.text-center.py-0
                            .check-header
                                h5.card-title 배터리 잔량
                                h7.unit (%)
                            img.card-img-top(src='/assets/images/battery.jpg')
                            h5.card_name= resultObj.eCharge
                .col
                    .card.card-check
                        .card-title.text-center.py-0
                            .check-header
                                h5.card-title 태양열 발전량 
                                h7.unit (mA/s)
                            img.card-img-top(src='/assets/images/lights.jpg')
                            h5.card_name= resultObj.solarEsupply
        br
