extends layout/template_main
include mixins/transaction

block content2
    main
        br
        .container.contents
            // Contents Header
            .row.contents-header
                .col-6
                    h3 &#xC804;&#xB825; &#xD310;&#xB9E4;&#xAE00;
                .col-6.text-end
                    a.btn.btn-secondary(href=`/main/transaction${routes.write}`) &#xAE00; &#xC791;&#xC131;&#xD558;&#xAE30;
            hr
            table.table.table-hover
                thead
                    tr
                        th.text-center(scope='col') &#xC81C;&#xBAA9;
                        th.text-center(scope='col') &#xAE00;&#xC4F4;&#xC774;
                        th.text-center(scope='col') &#xC791;&#xC131;&#xC77C;
                        th.text-center(scope='col') &#xD310;&#xB9E4;&#xB7C9;
                tbody#deal-list
                    for item of articleList
                        +transaction(item)
                    


    script.
        var deal_list = [{
                "transaction_id": 17,
                "transaction_amount": 550.0,
                "transaction_status": 1,
                "created_date": 1642911202432,
                "transaction_description": "안녕하세열",
                "seller_name": "장현희",
                "seller_phone": "010-1111-2222"
            }, {
                "transaction_id": 23,
                "transaction_amount": 300.0,
                "transaction_status": 0,
                "created_date": 1652911202432,
                "transaction_description": "안녕하씨뽕!!!",
                "seller_name": "서지상",
                "seller_phone": "010-2222-3333"
        }];
        
        var tmp_str = "";
        for (var i = 0; i < deal_list.length; i++) {
            var date = new Date(deal_list[i].created_date);
            var tmp_month = date.getUTCMonth() + 1;
            var tmp_date = date.getUTCDate();
            var tmp_hours = date.getUTCHours();
            var tmp_minutes = date.getUTCMinutes();
            var date_str = date.getFullYear() + "/" +
                (tmp_month < 10 ? '0' + tmp_month : tmp_month) + "/" + (tmp_date < 10 ? '0' + tmp_date : tmp_date) + " " +
                (tmp_hours < 10 ? '0' + tmp_hours : tmp_hours) + ":" + (tmp_minutes < 10 ? '0' + tmp_minutes : tmp_minutes);

            tmp_str +=
                '<table class = "text-center">\
                    <tr>\
                        <td style = "width:60%" class="p-3">\
                            <a href="' + 'deal-contents.html' + '">' + deal_list[i].transaction_description + '</a>\
                        </td>\
                        <td style="width: 10%" class="text-center p-3">' + deal_list[i].seller_name + '</td>\
                        <td style="width: 20%" class="text-center p-3">' + date_str + '</td>\
                        <td style="width: 10%" class="text-center p-3">' + deal_list[i].transaction_amount + 'kw</td>\
                    </tr>\
                </table>';
        }
        document.getElementById("deal-list").innerHTML = tmp_str;