extends layout/main


block content
    .text-center.container-sm#login_background
        .login-contents
            a(href='')
                img.logo_img(src='../assets/images/ourlogo.png')
                
            br

            form(action=routes.login, method="post")#login_form
                input.login-input(type ="text" name='email' placeholder="이메일")
                input.login-input(type ="password" name='password' placeholder="비밀번호")
                hr
                div
                    input.btn.btn-outline-primary.login-btn(type='submit' value='로그인')
            a(href=routes.join)
                button.btn.btn-outline-success.login-btn 회원가입 
            