extends layout/template_main
include mixins/transaction

block content2
    main
        br
        .container.contents.mb-3
            // Contents Header
            .text-center 
                h1 메시지~
                //- h1 #{message}
