

extends layout/template_main


block content2

   


    
    .container.contents
        .row.row-cols-1.row-cols-md-3.g-4
            .col
                .card.h-100.w-100
                    .card-body
                        img.card-img-top(src="https://img1.daumcdn.net/thumb/R720x0.q80/?scode=mtistory2&fname=http%3A%2F%2Fcfile7.uf.tistory.com%2Fimage%2F24283C3858F778CA2EFABE")

                        h5.card-title cardtitledddddddddddddddddddddddddddddddddddddddddddddddddddd


                        .form-check.form-switch.switch.position-absolute.bottom-0.start-50.translate-middle-x
                            input.form-check-input#flexSwitchCheckDefault(type="checkbox")
    
    .col
        .card.h-100
            img.card-img-top(src="#")

            .card-body
                h5.card-title card title

                p.card-text dddd

    .col
        .card.h-100
            img.card-img-top(src="#")

            .card-body
                h5.card-title card title

                p.card-text dddd
            
