

extends layout/template_main


block content2
    
    main
        br
        .container.contents
            // Contents Header
            .row.contents-header
                h3 &#xC6D0;&#xACA9; &#xC81C;&#xC5B4;
            hr
            // Contents List
            .row.row-cols-2.row-cols-md-4.g-4
                .col
                    .card.card_round
                        img#card_btn.card-img-top(src='images/off_btn_img.png')
                        i.fas.fa-cog.card-img-top.card_setting
                    .card-title.py-0
                    input.card-title.form-control.card_name(type='text' placeholder='전자기기')
                .col
                    .card.card_round
                        img#card_btn.card-img-top(src='images/on_btn_img.png')
                        i.fas.fa-cog.card-img-top.card_setting
                    .card-title.py-0
                    input.card-title.form-control.card_name(type='text' placeholder='전자기기')
                // 추가 버튼
                .col
                    .card.card_plus
                        img.card-img.card_plus_icon(src='images/plus_img.png')
    br
