extends layout/template_main
include mixins/device

block content2
    main
        br
        .container.contents
            // Contents Header
            .row.contents-header(onClick="tmpFunc()")
                h3 원격제어
            hr
            // Contents List
            #remote-list.row.row-cols-2.row-cols-md-4.g-4
                for item of deviceList
                    +device(item)
                .col
                    .card.card_plus
                        img.card-img-remote.img-pointer(data-bs-toggle='modal', data-bs-target='#PlusModal', src='/assets/images/plus_img.png')
            
                #PlusModal.modal.fade(tabindex='-1', aria-hidden='true', aria-labelledby='PlusModalLabel')
                    .modal-dialog.modal-dialog-centered.modal_state
                        .modal-content
                            .modal-header(style='background: #505; color:white')
                                h5#PlusModalLabel.modal-title 전자기기 추가
                                button.btn-close.btn-close-white(type='button', data-bs-dismiss='modal', aria-label='Close')
                            form(action='/main', method='post')
                                .modal-body
                                    .select_elec.mb-3
                                        input#new_name.form-control(name='name', placeholder='전자기기 이름')
                                    select#new_port.form-select.select_port(name='port')
                                        option(value='', selected='', disabled='', hidden='') &#xD3EC;&#xD2B8; &#xC120;&#xD0DD;
                                        option(value='1') Port-1
                                        option(value='2') Port-2
                                        option(value='3') Port-3
                                        option(value='4') Port-4
                                        option(value='5') Port-5
                                .modal-footer
                                    button.btn.btn-outline-secondary(type='button', data-bs-dismiss='modal') &#xB2EB;&#xAE30;
                                    button.btn.btn-outline-danger(type='submit') &#xC800;&#xC7A5;

                #SettingModal.modal.fade(tabindex='-1', aria-hidden='true', aria-labelledby='SettingModalLabel')
                    .modal-dialog.modal-dialog-centered.modal_state
                        .modal-content
                            .modal-header(style='background: #505; color:white')
                                h5#SettingModalLabel.modal-title
                                button.btn-close.btn-close-white(type='button', data-bs-dismiss='modal', aria-label='Close')
                            .modal-body
                                .select_elec.mb-3
                                    input#now_name.form-control
                                select#now_port.form-select.select_port
                                    option(value='', selected='', disabled='', hidden='')
                                    option(value='1') port-1
                                    option(value='2') Port-2
                                    option(value='3') Port-3
                                    option(value='4') Port-4
                                    option(value='5') Port-5
                            .modal-footer
                                button.btn.btn-outline-secondary(type='button', data-bs-dismiss='modal') &#xB2EB;&#xAE30;
                                button.btn.btn-outline-danger(type='button') &#xC800;&#xC7A5;
        br