extends layout/template_main
include mixins/device

block content2
    main
        br
        .container.contents
            // Contents Header
            .row.contents-header(onClick="tmpFunc()")
                
            hr
        
            // Contents List
            #remote-list.row.row-cols-2.row-cols-md-4
                for item of deviceList
                    
                    +device({
                        name: item.name,
                        status: item.status,
                        PK: item.PK
                    })
                .col
                    .card.card_plus
                        img.card-img-remote.img-pointer(data-bs-toggle='modal', data-bs-target='#PlusModal', src='/assets/images/plus_img.png')
            
                #PlusModal.modal.fade(tabindex='-1', aria-hidden='true', aria-labelledby='PlusModalLabel')
                    .modal-dialog.modal-dialog-centered.modal_state
                        .modal-content
                            .modal-header(style='background: #505; color:white')
                                h5#PlusModalLabel.modal-title 전자기기 추가
                                button.btn-close.btn-close-white(type='button', data-bs-dismiss='modal', aria-label='Close')
                            form(action='/main', method='post')
                                .modal-body
                                    .select_elec.mb-3
                                        input#new_name.form-control(name='name', placeholder='전자기기 이름')
                                    select#new_port.form-select.select_port(name='port')
                                        option(value='', selected='', disabled='', hidden='') &#xD3EC;&#xD2B8; &#xC120;&#xD0DD;
                                        option(value='1') Port-1
                                        option(value='2') Port-2
                                        option(value='3') Port-3
                                        option(value='4') Port-4
                                        option(value='5') Port-5
                                .modal-footer
                                    button.btn.btn-outline-secondary(type='button', data-bs-dismiss='modal') &#xB2EB;&#xAE30;
                                    button.btn.btn-outline-danger(type='submit') &#xC800;&#xC7A5;
            #SettingModal.modal.fade(tabindex='-1', aria-hidden='true', aria-labelledby='SettingModalLabel')
                .modal-dialog.modal-dialog-centered.modal_state
                    .modal-content
                        .modal-header(style='background: #505; color:white')
                            h5#SettingModalLabel.modal-title 기기 관리
                            button.btn-close.btn-close-white(type='button', data-bs-dismiss='modal', aria-label='Close')
                          
                        form(action='/main/saveDevice' method='post').modal-body
                            input(type='text' id="now_name" name='modName' style=" width: 100%")
                            input(type='text' id="now_port" name='name' style='display : none')
                            .modal-footer.deviceModal
                                button.btn.btn-outline-secondary(type='button', data-bs-dismiss='modal') 닫기
                                input.btn.btn-outline-danger(type='submit', onClick="requestRemoteFix()" value='저장')
                        form#deleteForm(method = 'post' , action = '/main'+ routes.delete)
                                input#deleteButtonSender(style = 'display: none', name = 'deleteTarget')
                                input.deviceDelete(type = 'submit' ,value = '삭제')
                                
        br

    script.
        // 원격 기기 on/off 요청
        function requestRemoteOnOff(product_id) {
           

            console.log('1');
            document.write('<form hidden action="/main/remoteonoff" id="smb_form" method="post"><input type="number" id="productId" name="productId"  onsubmit="return false;" value="'+ product_id +'"></form>');
            console.log('2');
            document.getElementById("smb_form").submit();
            console.log('3');
        }

        // 클릭된 device PK
        var device_pk;
        
        // 수정하기 modal창 데이터 넣기
        function requestRemoteSetting(name, id) {
            console.log("hi");
            device_pk = id;
            document.getElementById("now_name").value = name;
            document.getElementById("now_port").value = name;
            document.getElementById('deleteButtonSender').value = name;
        }

     
        // device 수정 요청
        function requestRemoteFix() {
            var name = document.getElementById("now_name").value;
            var port = document.getElementById("now_port").value;
        }