extends layout/main


block content
    .text-center.container-sm
        .login-contents
            h1 LOGO
            br

            input.login-input(type="text" placeholder="이메일")

            input.login-input(type="password" placeholder="비밀번호")
            input.login-input(type="password" placeholder="비밀번호 재입력")
            input.login-input(type="text" placeholder="이름")
            input.login-input(type="text" placeholder="연락처")

            button.btn.btn-outline-primary.login-btn 가입하기

            a(href =routes.login)
                button.btn.btn-outline-secondary.login-btn  로그인
