extends layout/template_main

block content2
    br
    
    .container.contents
        .row.contents-header
            h3 실시간 거래 확인
        hr
        .row.row-cols-2.row-cols-md-3.g-2.justify-content-center#check-list



        .text-center.time_text.mb-3 전송 속도 : #
        .text-center.time_text.mb-3 예상 소요 시간 : #분 #초