header
  .container
    // Top Nav
    .blog-header
      .row.flex-nowrap.justify-content-between.align-items-center
        .col.pt-1.weather_position
          a#weather(href='https://weather.naver.com/')
        .col.align-items-center
          a(href=routes.main)
            img.logo_img(src='/assets/images/ourlogo.png')
        #log_out.col.d-flex.justify-content-end
          a(href=routes.logOut)
            p.img-pointer(data-bs-toggle='modal', data-bs-target='#LogOutModal') 로그아웃

    div(style='border-top: 2px solid #555; padding-top:5px; margin-top: 10px;')

    // Route List
    .nav-scroller.py-1.mb-2
      nav.nav.d-flex.justify-content-between
        .col.text-center.align-self-center(style='border-right: 0px solid #555;')
          a(href=`/main`)
            if (topNav === 'remote')
              span.route-list.route-list-padding.route-list-activate
                img.route-img(src='/assets/images/remoter.png')
                | &nbsp&nbsp&nbsp&nbsp원격 제어
            else
              span.route-list.route-list-padding
                img.route-img(src='/assets/images/remoter.png')
                | &nbsp&nbsp&nbsp&nbsp원격 제어

        .col.text-center.align-self-center(style='border-right: 0px solid #555;')
          a(href=`/main${routes.transAction}`)
            if (topNav === 'transAction')
              span.route-list.route-list-padding.route-list-activate
                img.route-img(src='/assets/images/deal.png')
                | &nbsp&nbsp&nbsp&nbsp전력 거래소
            else
              span.route-list.route-list-padding
                img.route-img(src='/assets/images/deal.png')
                | &nbsp&nbsp&nbsp&nbsp전력 거래소

        .col.text-center.align-self-center
          a(href=`/main${routes.checkElec}`)
            if (topNav === 'checkElec')
              span.route-list.route-list-padding.route-list-activate
                img.route-img(src='/assets/images/checkd.png')
                | &nbsp&nbsp&nbsp&nbsp전력 확인
            else
              span.route-list.route-list-padding
                img.route-img(src='/assets/images/checkd.png')
                | &nbsp&nbsp&nbsp&nbsp전력 확인
