mixin device(dv = {})
    .col
        .card.card_round
            div(align='right')
                i.fas.fa-cog.fa-lg.card_setting(onclick='requestRemoteSetting("' + dv.name + '", ' + dv.PK + ')', data-bs-toggle='modal', data-bs-target='#SettingModal')
            
            if (dv.status)
                img#card_btn.card-img-remote.img-pointer(src='/assets/images/on_btn_img.png', onclick='requestRemoteOnOff(' + dv.PK + ')')
            else
                img#card_btn.card-img-remote.img-pointer(src='/assets/images/off_btn_img.png', onclick='requestRemoteOnOff(' + dv.PK + ')')

            .card-title.py-0
                h5.card-title.card_name #{dv.name}
            