
mixin device(device = {})
    .col
        .card.card_round
            img#card_btn.card-img-top(src='/assets/images/on_btn_img.png')
            i.fas.fa-cog.card-img-top.card_setting
        .card-title.py-0
        input.card-title.form-control.card_name(type='text' placeholder='전자기기')
                